*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 80%;
    min-height: 50px;
    background: none;
    margin: auto;
}
.container .logo img{
    width: 100px;
    height: 100px;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-transform: capitalize;
}
header .container .logo h1{
    color: rgb(218, 125, 255);
}
header .container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
}
header .container ul li{
    transition: 0.3s;
    padding: 10px;
}
header .container ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
    transition: 0.3s;
}
header .container ul li:hover{
    background: rgb(218, 125, 255);
    border-radius: 10px;
}
header .container ul li:hover a{
    color: white;
}

